<h1>A GAME YOU HAVE RENTED</h1>

<div class='container cards'>
  <% @bookings.each do |booking| %>
    <div class="card-trip mb-5">
      <%= image_tag booking.offer.video_game.image_url %>
      <div>
        <div class="card-trip-infos">
          <div>
            <h2><strong><%= booking.offer.video_game.title.upcase %></strong></h2>
            <p class='mb-2'><strong><%= booking.offer.video_game.category %></strong></p>
            <h2 class="card-trip-pricing">¥<%= booking.offer.price %></h2>
            <h2>Start Date</h2>
            <h2>End Date</h2>
          </div>
        </div>
      </div>
    </div >
  <% end %>
</div>
