<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/1341279/pexels-photo-1341279.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);">
  <div class="container">
    <h1>The largest variety of games in the world</h1>
    <p>Rent a game today. At your door tomorrow.</p>
    <%= link_to "Find a game", offers_path, class: "btn btn-light rounded mt-2" %>
  </div>
</div>
<div class="container my-5">
  <div class="container mt-5 d-flex justify-content-center">
    <p><strong>Video Game Rentals & Used Video Games | VideoGames</strong></p>
  </div>
  <div class="container text-center">
    <p>VideoGames is Japan's go-to source for new and classic video game rentals. With thousands of titles to choose from, you can rent new and used video games without worrying about any late fees. Whether you play one of today's hottest systems or enjoy the nostalgia of systems past, you'll find all the best new and used video games at VideoGames. Rent your first game today and get your game on ASAP!</p>
  </div>
</div>
<div class="container my-5 d-flex justify-content-center">
  <%= image_tag "free.png", class: "avatar-large" %>
</div>
<div class="container mb-5 d-flex justify-content-center">
  <p><strong>Free</strong> and <strong>fast</strong> shipping! Order by 17:00 and receive your game the very next day!</p>
</div>
<div class="container">
  <div class="row pb-5 d-flex justify-content-center">
    <div class="col-sm-4 px-5">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">New Games Every Day</h5>
          <p class="card-text">VideoGames is updated daily to provide you with the largest selection of rental games in the world.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4 px-5">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Our Guarantee</h5>
          <p class="card-text">Not happy with your rental? Send it back and we'll rush your next video game rental to your doorstep for free.</p>
        </div>
      </div>
    </div>
  </div>
</div>
