<div class="container">
  <div class="slider-wrapper">
    <div class="slider-icon">
      <i class="fa-solid fa-face-frown"></i>
      <p>emoji</p>
    </div>
    <div class="slider-icon">
      <i class="fa-solid fa-face-frown"></i>
      <p>emoji</p>
    </div>
    <div class="slider-icon">
      <i class="fa-solid fa-face-frown"></i>
      <p>emoji</p>
    </div>
    <div class="slider-icon">
      <i class="fa-solid fa-face-frown"></i>
      <p>emoji</p>
    </div>
  </div>
  <div class="cards">
    <div class="single-card">
      <i class="fa-solid fa-heart"></i>
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
      <div class="card-content">
        <h2>title</h2>
        <p>...km</p>
        <p>price</p>
      </div>
    </div>
    <div class="single-card">
      <i class="fa-solid fa-heart"></i>
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
      <div class="card-content">
        <h2>title</h2>
        <p>...km</p>
        <p>price</p>
      </div>
    </div>
    <div class="single-card">
      <i class="fa-solid fa-heart"></i>
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
      <div class="card-content">
        <h2>title</h2>
        <p>...km</p>
        <p>price</p>
      </div>
    </div>
    <div class="single-card">
      <i class="fa-solid fa-heart"></i>
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
      <div class="card-content">
        <h2>title</h2>
        <p>...km</p>
        <p>price</p>
      </div>
    </div>
  </div>
</div>
