<h1>ADD YOUR GAME FOR RENTAL</h1>
<%= simple_form_for @offer do |f| %>
  <%= %>
  <%= f.input :price, label: 'Set a price for your game:', as: :integer %>
  <%= f.button :submit, "Confirm", class: "btn btn-dark rounded" %>
<% end %>
