<div class="container">
  <div class="show-left">
    <h1>Title</h1>
    <img src="" alt="">
    <img src="" alt="">
    <h2>Details</h2>
    <h3>Text price</h3>
    <p></p>
  </div>
</div>
<div class="container">
  <div class="show-right">
    <img src="" alt="map">
    <div class="checkout-wrapper">
      <label for="">Total prie</label>
      <input type="text">
      <label for="">start date</label>
      <input type="text">
      <label for="">end date</label>
      <input type="text">
      <%= link_to "Add to Cart", "#" %>
    </div>
  </div>
</div>
