.slider-wrapper {
  display: flex;
}

.slider-icon {
  padding: 3px 20px;
  text-align: center;
}

.slider-icon .btn {
  background-color: white;
  color: black;
  border: 1px solid lightgray;
  &:hover {
    box-shadow: 0 0 10px rgba(23, 47, 225, 0.3);
    font-weight: 700;
  }
}
