.slider-wrapper {
  display: flex;
}

.slider-icon {
  padding: 3px 20px;
  text-align: center;
}

.slider-icon .btn {
  background-color: white;
  color: black;
  border: 1px solid lightgray;
  &:hover {
    box-shadow: 0 0 4px rgba(15, 36, 200, 0.3);
    // background-color: rgb(209, 209, 209); Need to fix
    // opacity: 0.3; Need to fix
  }
}
